.gallery{
   display: flex;
   /* flex-direction:row-reverse; */
   flex-wrap: wrap;
justify-content:center;
/* align-content: center; 
height:1000px; */
}
img{
    width:150px;
    height:150px;
    margin:5px;
    opacity:0.3;
    transition-duration:2s;
}
img:hover{
    opacity:1;
    transform: scale(1.1);
    transition-duration:2s;
}