.container{
    display: grid;
    grid-template-columns:100px 100px 100px;
    grid-template-rows:80px 80px 80px 80px ;
    grid-column-gap:5px;
    grid-row-gap:5px;
    box-shadow:3px 3px 5px rgba(0, 0, 0, 0.538);
    width:350px;
}
.box:nth-child(odd){
    border:1px solid white;
}
.box:nth-child(even){
    border:1px solid white;
}
.one{
    grid-column:span 2;
    grid-row: span 4;
}